.vscode/
CWFM-source/
baiurpt.txt
CODEINCL
EMPTYINC
FRECINCL
gen-rand.py
cobol-compile.sh
*.dylib
star-tree
star-tree.cob
STARTREE.JCL
TEST-LOAD-EDIT-FILE
TEST-SEARCH-ARRAY
writefile.cbl
writefile.tmp
writefile2
ec-outfl.txt
PreCompile.py
CWFM-source.zip
.DS_Store
writesub.cbl