.vscode/
CWFM-source/*.tmp
CWFM-source/*.cbl
CWFM-source/*.cpy
CWFM-source/*.py
CWFM-source/*.txt
CWFM-source/*.c
CWFM-source/copybooks/*.tmp
CWFM-source/copybooks/*.cbl
CWFM-source/copybooks/*.cpy
CWFM-source/copybooks/*.py
CWFM-source/copybooks/*.txt
CWFM-source/copybooks/*.c
baiurpt.txt
CODEINCL
EMPTYINC
FRECINCL
*.dylib
star-tree
star-tree.cob
STARTREE.JCL
TEST-LOAD-EDIT-FILE
TEST-SEARCH-ARRAY
writefile.cbl
writefile.tmp
writefile2
ec-outfl.txt
CWFM-source.zip
.DS_Store
writesub.cbl
REFACTOR
refactor-long-if.cbl
CURRDATI
TESTCURRDATE
CMNDATCV
cics-test.cbl
TEST-LOAD-CONFIG-LIST
*.dll
*.exe
rest-client/
RESTclient.tar.gz
cics_test*
*.tmp
__pycache__/
*.cics
*.o
COPYBOOK.cpy
helloworld.cbl
hw.cbl
launcher.cbl
*.dat
*.idx
*.in
*.asm
*.class
gnucobol/gnucobol-bin/
*.so
